/*Global Styling*/

* {
    font-family: "Arial";
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:black;
}

a:hover{
    color:firebrick;
}


/*/Index.html/*/
#header{
    font-size: 1.7em;
    margin-bottom: 10px;
    }

#courseStructure {
    padding: 2em;
    display:grid;
    height: 300px;
    background-color: azure;
    text-align: center;
    align-items: center;
}

#coreAreas {
    padding: 2em;
    display:grid;
    height: 300px;
    background-color: khaki;
    text-align: center;
    align-items: center;
}

#courseStructure a , #coreAreas a{
    font-size: 2em;
}


/*/Mobile Style/*/

/*/Index page/*/
@media (max-width: 600px) {
    #courseStructure,
    #coreAreas {
        margin: 10px;
    }
    #header{
        font-size: 1.7em;
    }
}


/*Desktop Style*/

/*/Index page/*/
@media (min-width: 601px) {
    #indexContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 3em;
        grid-gap: 20px;
    }
}


/*/Index.html end/*/


/*/Structure.html styling/*/

.navigation{
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}


.structure-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
 color: khaki;
    }

.first-semester-container,
.second-semester-container,
.third-semester-container,
.fourth-semester-container {
    justify-content: center;
    display: flex;
    height: 100%;
}

.first-semester-container:hover,
.second-semester-container:hover,
.third-semester-container:hover,
.fourth-semester-container:hover {
    background-color: antiquewhite;
}

.first-semester-container {
    background-color: aquamarine;
}

.second-semester-container {
    background-color: beige;
}

.third-semester-container {
    background-color: aquamarine;
}

.fourth-semester-container {
    background-color: beige;
}

.structure-text-center {
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    font-size: 2.7em;
    height: 100%;
}

#first-sem-rot,
#second-sem-rot,
#third-sem-rot,
#fourth-sem-rot {}


/*/Structure.styling end/*/
