body {
    margin: 0;
}


/*Global Styling*/

@font-face {
    font-family: 'lemonmilkregular';
    src: url('lemonmilk-webfont.woff2') format('woff2'), url('lemonmilk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "arial";
    margin: 0;
    padding: 0;
}

.navigation {
    text-align: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1em 1em 0 5em;
}

.navigation a {
    text-decoration: none;
}

.navigation a:hover {
    color: #FF431D;
    text-decoration: underline;
}


/*/Index.html/*/

#topCont {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#keaLogo {
    height: 80px;
}

#indexBody {}

#header {
    font-family: 'lemonmilkregular';
    margin-top: 2em;
    font-size: 5em;
    color: #2B5FBF;
}

#subHeading {
    margin-top: 1.5em;
    font-size: 1.5em;
}

#headerCont {
    text-align: center;
    margin-top: 5em;
}

#arrowIcon {
    margin-top: 3em;
    height: 50px;
    transform: rotate(90deg);
}

#aboutCont {
    margin: 15em 1em 15em 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#aboutCont h1 {
    font-family: 'lemonmilkregular';
    color: #4FFFCE;
    margin: 0 0 1em 0.5em;
    font-size: 3em;
}

#aboutCont p {
    font-size: 1.5em;
    margin: 0 3em 0 1.5em;
}

#aboutCont img {
    width: 100%;
}


/*/Mobile Style/*/


/*/Index page/*/


/*Desktop Style*/


/*/Index page/*/


/*/Index.html end/*/


/*/Structure.html styling/*/

.navigation {
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.structure-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: absolute;
}

.visibility {
    visibility: hidden;
    opacity: 0;
    transition: opacity .150s;
    transition-delay: .150s;
}

.hide {
    visibility: visible;
    opacity: 1;
}

.structure-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.first-semester-container,
.second-semester-container,
.third-semester-container,
.fourth-semester-container {
    justify-content: center;
    display: flex;
    height: 100%;
    position: relative;
    z-index: 4;
    transition: width .200s;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.6, 1);
    width: 0;
    min-width: 100%;
}

.first-semester-container {
    background-color: aquamarine;
}

.second-semester-container {
    background-color: beige;
}

.third-semester-container {
    background-color: aquamarine;
}

.fourth-semester-container {
    background-color: beige;
}

.structure-text-center {
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    height: 100%;
    text-align: center;
}

.first-expand,
.second-expand,
.third-expand,
.fourth-expand {
    width: 80vw;
}

#first-sem-rot,
#second-sem-rot,
#third-sem-rot,
#fourth-sem-rot {}


/*/Structure.styling end/*/


/*internship styling begin*/


/*#intern-img, #intern-txt, #career-img, #career-txt {
     border:2px solid black;


}*/

.extra-text,
.intern-heading {
    margin: 20px;
}

.intern-heading {}

#i-img {
    width: 100%;
    height: auto;
}

.extra-text,
.intern-heading {
    width: 100%;
    height: inherit;
}

@media (min-width:600px) {
    #c-img,
    #i-img,
    #career-txt,
    #intern-txt {
        width: 50vw;
        height: auto;
    }
    .extra-text,
    .intern-heading {
        margin: 0 10px 0 10px;
    }
    #intern-container {
        width: 100vw;
        display: grid;
        grid-template-areas: " intimg  inttxt";
        grid-gap: 10px;
    }
    #intern-img {
        grid-area: intimg;
    }
    #intern-txt {
        grid-area: inttxt;
    }
    #career-container {
        display: grid;
        grid-template-areas: "carimg  cartxt";
    }
    #career-img {
        grid-area: carimg;
    }
    #career-txt {
        grid-area: cartxt;
    }
    #studyabroad-container {
        width: 100vw;
        display: grid;
        grid-template-areas: "  stutxt stuimg ";
    }
    #studyabroad-img {
        grid-area: stuimg;
    }
    #studyabroad-txt {
        grid-area: stutxt;
    }
}


/*inernship style end*/
